<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="explore" href="/explore">
        <ion-icon name="film"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="watchlist" href="/watchlist">
        <ion-icon name="time"></ion-icon>
        <ion-label>Watchlist</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="collection" href="/collection">
        <ion-icon name="disc"></ion-icon>
        <ion-label>Collections</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
